@use 'utilities';
@use 'header';
@use 'grid';
@use 'card';
@use 'modal';

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  line-height: 1;
}

button {
  cursor: pointer;
}